@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: #efefef;
    overflow-x: hidden;
}
main{
    width: 100%;
    padding: 1rem;
}
h1{
    text-align: center;
    margin: 20px;
}
section{
    background: white;
    border-radius: 10px;
    padding: 1rem;
    width: 450px;
    margin: auto;
    margin-bottom: 0.625rem;
    box-shadow: 3px 3px 10px rgb(104, 104, 230);
} 

/*class formato js*/
.alerta{
    background: #f44336;
    padding: 5px;
    border-radius: 5px;
}
/*formulario*/
form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
/*div dos input*/
.form-group{
    margin: 0.625rem;
}
input{
    width: 40%;
}
/*inputs*/
input[type=number], input[type=text]{
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 5px;
}
/*botao*/
.botao{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
}
#resultadoImc{
    border: 1px solid #ccc;
    width: 60px;
}
#aviso{
    font-weight: bold;
}
#resultado {
    width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
}

.pessoa {
    padding: 0.625rem;
}
.pessoa:nth-child(odd) {
    background: #efefef;
}
.pessoa:nth-child(even) {
    background: #fff;
}