@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(39, 1, 61);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
    padding: 30px;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px white;
}
footer {
    background: black;  
    position : absolute;
    padding: 5px;
    bottom : 0px;
    width : 100%;
}
a {
    text-decoration: none;
    color: white;
    font: italic 12pt Arial;
    text-align: center; 
}
div {
    text-align: center;
    padding: 6px;
}
#fotos {
    background-image: url(silhueta-3d-de-um-homem-com-os-bracos-levantados-contra-uma-paisagem-do-oceano-do-por-do-sol.jpg);
    background-position: center center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
